HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

src/main/resources/textMaps/.sync_metadata.json
src/main/resources/assets/.asset_metadata.json
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

/src/main/resources/application.properties
/scripts/.venv/
src/main/resources/application.properties
/src/main/resources/textMaps/
/src/main/resources/assets/
src/main/resources/assets/hsr.json
src/main/resources/assets/relics.json
src/main/resources/assets/ItemConfigRelic.json
src/main/resources/textMaps/TextMapEN.json
/src/main/resources
src/main/resources/assets/hsr.json
